fastapi==0.115.0
uvicorn==0.30.6
jinja2==3.1.4
python-multipart==0.0.9
google-generativeai==0.7.2
diffusers==0.30.3
transformers==4.44.2
fpdf==1.7.2
Pillow==10.4.0
accelerate==0.34.2
python-dotenv==1.0.1
torch==2.4.1
pydantic==2.9.2
